In [2]:
import re
import pandas as pd 
import numpy as np

In [183]:
Posts = pd.read_csv('../../160-Stackoverflow-Data/300000_rows/PostsClean.csv', \
                    dtype = {'LastEditorDisplayName': str, 'Tags': str})

In [153]:
Posts.head()

,Id,PostTypeId,ParentID,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditorDisplayName,LastEditDate,LastActivityDate,CommunityOwnedDate,ClosedDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount
0,48870881,1,NaN,48871194.0,2018-02-19T17:05:48.193,1,50.0,<p>I have a json file with data as below:</p>\...,2804169.0,2804169.0,NaN,2018-02-19T18:42:53.487,2018-02-19T18:53:19.357,NaN,NaN,PHP search array return all values,<php><arrays>,2.0,0,NaN
1,48870882,1,NaN,48870993.0,2018-02-19T17:05:49.097,0,27.0,<p>I am currently working on a web application...,5128923.0,2598770.0,NaN,2018-02-19T17:13:33.920,2018-02-19T17:13:49.300,NaN,NaN,Creating a reactive user input tab,<c#><html><asp.net><.net><visual-studio>,2.0,0,NaN
2,48870883,2,48869547.0,NaN,2018-02-19T17:05:50.073,1,NaN,<p>Try to add hint to the query:</p>\r\n\r\n<p...,8214734.0,8214734.0,NaN,2018-02-20T10:20:21.007,2018-02-20T10:20:21.007,NaN,NaN,NaN,NaN,NaN,2,NaN
3,48870884,2,3865445.0,NaN,2018-02-19T17:05:50.273,0,NaN,In support of Sean's post:\r\n\r\n<p>The place...,2055283.0,NaN,NaN,NaN,2018-02-19T17:05:50.273,NaN,NaN,NaN,NaN,NaN,0,NaN
4,48870885,2,48870539.0,NaN,2018-02-19T17:05:51.300,0,NaN,<p>I discovered the convention (couldn't find ...,1052870.0,NaN,NaN,NaN,2018-02-19T17:05:51.300,NaN,NaN,NaN,NaN,NaN,1,NaN
5,48870886,1,NaN,NaN,2018-02-19T17:05:52.677,0,27.0,<p>So I am trying to create records in mongodb...,8353588.0,NaN,NaN,NaN,2018-02-19T17:18:09.357,NaN,NaN,Mongoose Validation Error,<node.js><mongodb><express><mongoose><mongoose...,1.0,2,NaN
6,48870888,1,NaN,48871145.0,2018-02-19T17:06:01.170,1,17.0,<p>I am trying to find out a way how add a col...,9381432.0,NaN,NaN,NaN,2018-02-19T17:21:55.740,NaN,NaN,R - Calculating annual incrementals across dif...,<r>,1.0,0,NaN
7,48870889,2,48870709.0,NaN,2018-02-19T17:06:01.910,0,NaN,"<p>Group by the user, then aggregate a list of...",3182843.0,NaN,NaN,NaN,2018-02-19T17:06:01.910,NaN,NaN,NaN,NaN,NaN,0,NaN
8,48870890,1,NaN,NaN,2018-02-19T17:06:06.810,0,19.0,<p>I need a simple and clear example on how to...,3613597.0,3613597.0,NaN,2018-02-19T17:18:00.510,2018-02-19T17:18:00.510,NaN,2018-02-19T17:09:58.357,Passing props from parent component to a neste...,<javascript><reactjs><react-native>,0.0,0,NaN
9,48870891,2,48870253.0,NaN,2018-02-19T17:06:16.113,12,NaN,<p>With combination of <code>re.findall()</cod...,3185459.0,3185459.0,NaN,2018-02-19T17:13:55.730,2018-02-19T17:13:55.730,NaN,NaN,NaN,NaN,NaN,8,NaN
10,48870892,1,NaN,NaN,2018-02-19T17:06:16.730,0,20.0,<p>I've implemented javax.mail.event.StoreList...,2634852.0,2634852.0,NaN,2018-02-20T10:24:11.707,2018-02-20T10:24:11.707,NaN,NaN,"What does it mean ""Stale mailbox lock file det...",<email><javamail><imap><dovecot>,1.0,0,NaN
11,48870893,1,NaN,NaN,2018-02-19T17:06:18.470,-1,14.0,<p>How can I build an Android browser (basical...,9356637.0,NaN,NaN,NaN,2018-02-19T17:06:18.470,NaN,NaN,How to build an Ionic Cordova based browser?,<android><ionic-framework><ionic2><android-web...,0.0,2,NaN
12,48870894,1,NaN,NaN,2018-02-19T17:06:20.017,0,10.0,"<p>According to <a href=""https://www.filestack...",7226603.0,7226603.0,NaN,2018-02-19T17:43:42.157,2018-02-19T17:43:42.157,NaN,NaN,Filestack Viewer preview for each file in a modal,<javascript><jquery><filepicker><filestack>,0.0,0,NaN
13,48870895,1,NaN,48928005.0,2018-02-19T17:06:21.133,0,28.0,<p>I'm working with Ionic 3. I change the valu...,2815015.0,2815015.0,NaN,2018-02-20T08:58:08.737,2018-02-22T12:56:05.213,NaN,NaN,Ionic 3 *ngIf doesn't update the view,<ionic3><ngif>,1.0,6,NaN
14,48870896,1,NaN,NaN,2018-02-19T17:06:26.003,1,32.0,<p>I'm trying to use a Dynamics 365 entity wit...,9381888.0,7920473.0,NaN,2018-02-22T19:14:22.117,2018-02-22T19:14:22.117,NaN,NaN,"Powerapps: An error occurred on the server, Of...",<microsoft-dynamics><powerapps>,0.0,0,NaN
15,48870897,2,48870631.0,NaN,2018-02-19T17:06:33.923,1,NaN,<p>Perhaps it's easiest to just rename the col...,1270695.0,NaN,NaN,NaN,2018-02-19T17:06:33.923,NaN,NaN,NaN,NaN,NaN,4,NaN
16,48870899,2,13830392.0,NaN,2018-02-19T17:06:40.293,0,NaN,<p>Try this in the terminal:</p>\r\n\r\n<pre><...,7962442.0,NaN,NaN,NaN,2018-02-19T17:06:40.293,NaN,NaN,NaN,NaN,NaN,0,NaN
17,48870900,2,48870828.0,NaN,2018-02-19T17:06:41.930,1,NaN,<p>What's with the ACF? Why not just </p>\r\n\...,295783.0,NaN,NaN,NaN,2018-02-19T17:06:41.930,NaN,NaN,NaN,NaN,NaN,3,NaN
18,48870902,2,48862416.0,NaN,2018-02-19T17:06:45.037,2,NaN,<p>The problem is this. You create a lambda a...,3679676.0,3679676.0,NaN,2018-02-19T17:42:45.440,2018-02-19T17:42:45.440,NaN,NaN,NaN,NaN,NaN,1,NaN
19,48870903,1,NaN,NaN,2018-02-19T17:06:45.253,-1,42.0,<p>I see a lot of people create their C# Progr...,8992226.0,2598770.0,NaN,2018-02-19T17:14:24.613,2018-02-19T17:14:24.613,NaN,NaN,How can I create a custom GUI,<c#><windows><user-interface>,0.0,4,NaN
20,48870904,2,48870709.0,NaN,2018-02-19T17:06:48.850,0,NaN,<p>Set up parameters defined by OP</p>\r\n\r\n...,2336654.0,2336654.0,NaN,2018-02-19T17:12:02.800,2018-02-19T17:12:02.800,NaN,NaN,NaN,NaN,NaN,0,NaN
21,48870905,2,48870730.0,NaN,2018-02-19T17:06:52.253,0,NaN,<pre><code>var rooms = [];\r\n\r\nvar mysql = ...,6462742.0,NaN,NaN,NaN,2018-02-19T17:06:52.253,NaN,NaN,NaN,NaN,NaN,0,NaN
22,48870906,1,NaN,NaN,2018-02-19T17:07:00.123,0,19.0,<p>Is there anyway to get the request body fro...,492015.0,NaN,NaN,NaN,2018-02-19T17:07:00.123,NaN,NaN,get request body from WebResourceRequest,<android><webresourcerequest>,0.0,0,NaN
23,48870907,2,48869493.0,NaN,2018-02-19T17:07:07.827,1,NaN,<p>You're attempting to use MySQL data-manipul...,205608.0,NaN,NaN,NaN,2018-02-19T17:07:07.827,NaN,NaN,NaN,NaN,NaN,0,NaN
24,48870908,1,NaN,48871861.0,2018-02-19T17:07:09.447,0,36.0,<p>I have to itterate over 4000 pages: after e...,9283927.0,NaN,NaN,NaN,2018-02-19T18:22:56.110,NaN,NaN,How to loop & scraping data for multiple pages...,<python><css><beautifulsoup>,1.0,0,1.0
25,48870909,1,NaN,NaN,2018-02-19T17:07:15.697,0,25.0,<p>Hey i'm getting images from html canvas and...,8922084.0,8922084.0,NaN,2018-02-19T18:10:04.880,2018-02-19T18:10:04.880,NaN,NaN,play arraybuffer on video tag,<javascript><html><arraybuffer>,0.0,2,1.0
26,48870910,1,NaN,48872749.0,2018-02-19T17:07:17.100,-1,40.0,<p>I'm using SQL Server 2014 and I'm getting i...,8413781.0,8413781.0,NaN,2018-02-20T14:43:49.050,2018-02-20T14:43:49.050,NaN,NaN,SQL Server Wildcard Search,<sql-server>,1.0,2,NaN
27,48870911,1,NaN,NaN,2018-02-19T17:07:27.420,0,23.0,<p><strong>Problem</strong></p>\r\n\r\n<p>Usin...,7832687.0,2688803.0,NaN,2018-02-21T08:58:18.023,2018-02-21T08:58:18.023,NaN,NaN,Primefaces Maven Repository SSL certificate is...,<java><maven><primefaces><primefaces-extensions>,0.0,1,NaN
28,48870912,1,NaN,NaN,2018-02-19T17:07:27.703,-2,49.0,<p>What should I learn to become an good angul...,8641931.0,2085811.0,NaN,2018-02-21T03:07:03.667,2018-02-21T03:07:03.667,NaN,2018-03-04T20:25:36.370,What things should I learn to become an angula...,<angular><web><web-applications>,1.0,1,NaN
29,48870914,1,NaN,NaN,2018-02-19T17:07:44.987,0,28.0,<p>I'm in a similar situation:</p>\r\n\r\n<pre...,1671226.0,NaN,NaN,NaN,2018-02-19T17:29:00.920,NaN,NaN,Check values from similar sub objects properties,<javascript>,3.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299969,49216759,1,NaN,NaN,2018-03-11T04:52:49.297,0,7.0,"<p>I have a issue, I am reading from a CSV fil...",7733917.0,NaN,NaN,NaN,2018-03-11T04:52:49.297,NaN,NaN,How to store elements in CSV file to Array in ...,<java>,0.0,2,NaN
299970,49216760,1,NaN,NaN,2018-03-11T04:52:55.370,0,6.0,<p>I am trying to extract all the 'id' in the ...,7386152.0,NaN,NaN,NaN,2018-03-11T04:52:55.370,NaN,NaN,Issue with parsing .html page with callbackWra...,<javascript><json><node.js>,0.0,0,NaN
299971,49216761,2,49216627.0,NaN,2018-03-11T04:53:20.053,0,NaN,<pre><code>List&lt;Integer&gt; l = new ArrayLi...,9076535.0,NaN,NaN,NaN,2018-03-11T04:53:20.053,NaN,NaN,NaN,NaN,NaN,0,NaN
299972,49216762,1,NaN,NaN,2018-03-11T04:53:23.367,0,2.0,<p>The background is supposed to be a automati...,8997869.0,NaN,NaN,NaN,2018-03-11T04:53:23.367,NaN,NaN,Why is the background flashing/flickering when...,<html><css><css-animations><slideshow><keyframe>,0.0,0,NaN
299973,49216763,1,NaN,NaN,2018-03-11T04:53:25.233,-1,3.0,<p>I created a Simple Activity which contains ...,2579739.0,NaN,NaN,NaN,2018-03-11T04:53:25.233,NaN,NaN,How to call Service from activity without inte...,<android><android-service>,0.0,0,NaN
299974,49216764,1,NaN,NaN,2018-03-11T04:53:33.360,0,3.0,<p>Im trying to use firebase push notification...,9222929.0,NaN,NaN,NaN,2018-03-11T04:53:33.360,NaN,NaN,Error on deploy of firebase push notification ...,<firebase><firebase-database><push-notification>,0.0,0,NaN
299975,49216765,1,NaN,NaN,2018-03-11T04:53:35.290,0,2.0,"<p>To begin with, I'm doing a mini project on ...",4378837.0,NaN,NaN,NaN,2018-03-11T04:53:35.290,NaN,NaN,Arduino: Function doesn't return a right value,<arduino><iot><verification><rfid><nodemcu>,0.0,0,NaN
299976,49216766,2,49216729.0,NaN,2018-03-11T04:53:35.620,-1,NaN,"<p>Im not sure if this is what you wanted, how...",1612975.0,NaN,NaN,NaN,2018-03-11T04:53:35.620,NaN,NaN,NaN,NaN,NaN,2,NaN
299977,49216767,1,NaN,NaN,2018-03-11T04:53:45.857,0,5.0,<p>I'm writing a function to hide a div and cl...,1738825.0,NaN,NaN,NaN,2018-03-11T04:53:45.857,NaN,NaN,JQuery -- What is the correct syntax for targe...,<jquery><syntax><radio-button>,0.0,0,NaN
299978,49216768,2,2392308.0,NaN,2018-03-11T04:53:48.083,0,NaN,<p>You can directly define a char type vector ...,5482439.0,NaN,NaN,NaN,2018-03-11T04:53:48.083,NaN,NaN,NaN,NaN,NaN,0,NaN
299979,49216769,2,49072807.0,NaN,2018-03-11T04:53:57.710,0,NaN,<p>Vi (and Vim) works very differently compare...,9469758.0,NaN,NaN,NaN,2018-03-11T04:53:57.710,NaN,NaN,NaN,NaN,NaN,0,NaN
299980,49216770,1,NaN,NaN,2018-03-11T04:54:05.403,0,2.0,<p>i have a form code php</p>\r\n\r\n<pre><cod...,5445735.0,NaN,NaN,NaN,2018-03-11T04:54:05.403,NaN,NaN,Undefined index in post php,<php>,0.0,0,NaN
299981,49216771,1,NaN,NaN,2018-03-11T04:54:08.993,0,2.0,<p>Hi i planning to send out the transactional...,2543494.0,NaN,NaN,NaN,2018-03-11T04:54:08.993,NaN,NaN,Send out email via SMTP by SendGrid,<node.js><email><smtp><sendgrid>,0.0,0,NaN
299982,49216772,2,18352079.0,NaN,2018-03-11T04:54:13.963,0,NaN,<p>the most closest :</p>\r\n\r\n<pre><code>Le...,2130573.0,NaN,NaN,NaN,2018-03-11T04:54:13.963,NaN,NaN,NaN,NaN,NaN,0,NaN
299983,49216773,2,49216651.0,NaN,2018-03-11T04:54:33.317,0,NaN,<p>You can't use Len with an integer. If you w...,9314680.0,NaN,NaN,NaN,2018-03-11T04:54:33.317,NaN,NaN,NaN,NaN,NaN,0,NaN
299984,49216774,2,49216741.0,NaN,2018-03-11T04:54:39.187,0,NaN,<p><strong>Try this.</strong></p>\r\n\r\n<p><d...,5238602.0,NaN,NaN,NaN,2018-03-11T04:54:39.187,NaN,NaN,NaN,NaN,NaN,0,NaN
299985,49216775,2,49216438.0,NaN,2018-03-11T04:54:43.960,0,NaN,<p>Answering to point [In context to android]\...,5504047.0,NaN,NaN,NaN,2018-03-11T04:54:43.960,NaN,NaN,NaN,NaN,NaN,0,NaN
299986,49216776,1,NaN,NaN,2018-03-11T04:54:53.343,0,2.0,<p>I trying get output of my invoked <strong>c...,8009796.0,NaN,NaN,NaN,2018-03-11T04:54:53.343,NaN,NaN,java - empty processBuilder inputStream,<java><process><processbuilder><linuxmint>,0.0,0,NaN
299987,49216777,2,49216669.0,NaN,2018-03-11T04:55:05.977,0,NaN,<p>It's actually quit easy in python with <cod...,5590100.0,NaN,NaN,NaN,2018-03-11T04:55:05.977,NaN,NaN,NaN,NaN,NaN,0,NaN
299988,49216778,2,49216590.0,NaN,2018-03-11T04:55:09.063,0,NaN,<p>Just do it yourself. There is no reason to ...,9078341.0,NaN,NaN,NaN,2018-03-11T04:55:09.063,NaN,NaN,NaN,NaN,NaN,0,NaN
299989,49216779,1,NaN,NaN,2018-03-11T04:55:10.580,0,2.0,"<p>For example, there are 2 main nodes in my d...",8624731.0,NaN,NaN,NaN,2018-03-11T04:55:10.580,NaN,NaN,Android Firebase Fetch Data Of Every User,<java><android><firebase><firebase-database><f...,0.0,0,NaN
299990,49216780,1,NaN,NaN,2018-03-11T04:55:19.100,0,2.0,"<p>If I have a table (<a href=""http://sqlfiddl...",1333999.0,NaN,NaN,NaN,2018-03-11T04:55:19.100,NaN,NaN,GROUP BY combined value of 2 columns in no spe...,<sql><postgresql>,0.0,0,NaN
299991,49216781,2,40310576.0,NaN,2018-03-11T04:55:21.227,0,NaN,<p>If you really care about performance and yo...,2680087.0,NaN,NaN,NaN,2018-03-11T04:55:21.227,NaN,NaN,NaN,NaN,NaN,0,NaN
299992,49216782,1,NaN,NaN,2018-03-11T04:55:24.197,0,2.0,"<p>I am using the webview for the app, where i...",7250856.0,NaN,NaN,NaN,2018-03-11T04:55:24.197,NaN,NaN,Android WerbVIew javascript is not loading on ...,<android><webview>,0.0,0,NaN
299993,49216783,2,41735254.0,NaN,2018-03-11T04:55:26.657,0,NaN,"<p>Go to this YouTube link: <a href=""https://w...",7889415.0,NaN,NaN,NaN,2018-03-11T04:55:26.657,NaN,NaN,NaN,NaN,NaN,0,NaN
299994,49216784,2,49214070.0,NaN,2018-03-11T04:55:32.513,0,NaN,"<p>First of all, please consider editing the q...",580552.0,NaN,NaN,NaN,2018-03-11T04:55:32.513,NaN,NaN,NaN,NaN,NaN,0,NaN
299995,49216785,2,49177575.0,NaN,2018-03-11T04:55:33.753,0,NaN,"<p>First, I touched this javascript problem.\r...",2458645.0,NaN,NaN,NaN,2018-03-11T04:55:33.753,NaN,NaN,NaN,NaN,NaN,0,NaN
299996,49216786,2,49216748.0,NaN,2018-03-11T04:55:38.597,0,NaN,"<p>Use the below code,</p>\r\n\r\n<pre><code>p...",6499555.0,NaN,NaN,NaN,2018-03-11T04:55:38.597,NaN,NaN,NaN,NaN,NaN,0,NaN
299997,49216787,1,NaN,NaN,2018-03-11T04:55:43.397,0,2.0,<p>I use iframes on most my projects. They emb...,9151888.0,NaN,NaN,NaN,2018-03-11T04:55:43.397,NaN,NaN,stop iframe from affecting load times,<javascript><html><iframe>,0.0,0,NaN
299998,49216788,2,43327020.0,NaN,2018-03-11T04:55:43.843,0,NaN,<p>The other answers didn't work for me so I i...,9104642.0,NaN,NaN,NaN,2018-03-11T04:55:43.843,NaN,NaN,NaN,NaN,NaN,0,NaN

In [39]:
Posts[Posts.Id == 48882980]

,Id,PostTypeId,ParentID,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditorDisplayName,LastEditDate,LastActivityDate,CommunityOwnedDate,ClosedDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount
10389,48882980,2,48882635.0,NaN,2018-02-20T10:23:28.970,1,NaN,"<p><a href=""http://php.net/oci_fetch_array"" re...",476.0,NaN,NaN,NaN,2018-02-20T10:23:28.970,NaN,NaN,NaN,NaN,NaN,3,NaN

In [40]:
Posts[Posts.Id == 48882635]

,Id,PostTypeId,ParentID,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditorDisplayName,LastEditDate,LastActivityDate,CommunityOwnedDate,ClosedDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount
10100,48882635,1,NaN,48882980.0,2018-02-20T10:08:24.050,0,26.0,<p>I have a simple PHP coding which fetches da...,6002555.0,230471.0,NaN,2018-02-20T10:17:34.733,2018-02-20T10:23:28.970,NaN,NaN,Why does my PHP code recognises NULL entities ...,<php><oracle>,1.0,1,NaN

## Frequency table of tags

In [184]:
# make a function that extracts tags from Posts' tags, using Posts' Id
def freq_table(idx):
    '''
    @param idx: list
    return series
    '''
    filtered = []
    pattern = '[<>]'
    regex = re.compile(pattern, flags = re.IGNORECASE)
    
    for j in range(len(idx)):
        tags = Posts.loc[(Posts.Id == idx.iloc[j])]['Tags'] #extracting tags from Posts' Id
        
        try:
            tags1 = list(filter(None,regex.split(tags.iloc[0]))) 
            filtered.extend(tags1)
        except:
            continue
    freq_tags = pd.DataFrame({'Tag':filtered}).groupby('Tag').size()
    
    return freq_tags

### Tags of a user's answers

In [185]:
#tags of 'question' posts that the user posted 'answers' to, and count the number of the user's answers for each tag
def answers_user(user_id):
    """
    @param user_id: int 
    return: series 
    """
    idx = Posts.loc[(Posts.OwnerUserId == user_id) &  (Posts.PostTypeId == 2)]['ParentID']
    return freq_table(idx)

In [186]:
#example
answers_user(476)

Tag
angular rest api backend ms-access    1
interface abstraction                 1
javascript                            1
javascript undefined typeof           1
php                                   8
php ftp sftp                          1
php oracle                            1
php postgresql encoding               1
php security                          1
php unicode                           1
python int multiplication             1
python syntax mixins                  1
dtype: int64

### Acceptance ratio of a user's answers

In [187]:
#tags of 'question' posts that the user's answer was accepted to('AcceptedAnswer'), and count the number of the user's accepted answers for each tag
def accepted_ratio(user_id):
    """
    @param user_id: int 
    return: series 
    """
    accepted_tags = []
    pattern = '[<>]'

    regex = re.compile(pattern, flags = re.IGNORECASE)
    answers = Posts.loc[(Posts.OwnerUserId == user_id) &  (Posts.PostTypeId == 2)]

    for i in range(len(answers)):
        tags = Posts.loc[(Posts.AcceptedAnswerId == answers.Id.iloc[i])]['Tags']
        try:
            tags1 = list(filter(None,regex.split(tags.iloc[0]))) 
            accepted_tags.extend(tags1)
        except:
            continue
    freq_acanswers = pd.DataFrame({'Tag':accepted_tags}).groupby('Tag').size()
    return round(freq_acanswers/answers_user(user_id),2).dropna()

In [188]:
#example
accepted_ratio(1850609)

Tag
angular                                         0.67
angular asynchronous                            1.00
angular asynchronous undefined                  1.00
angular typescript angular5                     1.00
button onclick                                  1.00
css vuejs2 components                           1.00
datepicker vuejs2                               1.00
docker                                          1.00
function methods onclick                        1.00
html vuejs2                                     1.00
java vuejs2                                     1.00
javascript                                      0.69
javascript android vuejs2 addeventlistener      1.00
javascript angular typescript observable        1.00
javascript arrays matrix                        1.00
javascript components                           1.00
javascript eslint                               1.00
javascript html css                             1.00
javascript html wordpress                       1.00
javascript jquery                               1.00
javascript jquery ajax                          1.00
javascript jquery html                          1.00
javascript jquery json                          1.00
javascript jquery promise                       1.00
javascript magento prototypejs scriptaculous    1.00
javascript vuejs2                               1.00
javascript vuejs2 axios                         1.00
javascript vuejs2 vuex                          1.00
jquery                                          1.00
jquery ajax laravel                             1.00
jquery autocomplete                             1.00
kotlin                                          1.00
moxios                                          1.00
path vuejs2 leaflet                             1.00
regex lex                                       1.00
vuejs2                                          0.74
vuejs2 angularjs-directive autofocus            1.00
vuejs2 lodash debounce                          1.00
vuejs2 reactive                                 1.00
vuex                                            1.00
webpack                                         1.00
websocket vuejs2                                1.00
dtype: float64

### Tags of a user's questions

In [189]:
def question_user(user_id):
    """
    @param user_id: int 
    return: series 
    """
    idx = Posts.loc[(Posts.OwnerUserId == user_id) &  (Posts.PostTypeId == 1)]['Id']
    return freq_table(idx)

In [190]:
question_user(9151888)

Tag
javascript html iframe    1
php                       1
dtype: int64

### Tags of a user's comments

In [191]:
Comments = pd.read_csv('../../160-Stackoverflow-Data/300000_rows/Comments.csv')

In [192]:
Comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,85065265,49030489,4,Possible duplicate of [Node.js - require empty...,2018-02-28T13:16:41.767,5734311.0
1,85065268,49030285,0,The problem with this is the bad structure log...,2018-02-28T13:16:45.110,2718972.0
2,85065269,49030414,0,Can you elaborate a little more on ViewModel? ...,2018-02-28T13:16:50.880,9305895.0
3,85065270,49022014,1,In `rollapply` the `width=` can be a one compo...,2018-02-28T13:16:51.247,516548.0
4,85065271,49029381,0,"Yeah, I'm testing here and it doesnt seem to b...",2018-02-28T13:16:52.050,1850609.0

In [193]:
#tags of 'question' posts that the user posted 'comments' to, and count the number of the user's comments for each tag
def comments_user(user_id):
    """
    @param user_id: int 
    return: series 
    """
    idx = Comments.loc[(Comments.UserId == user_id)]['PostId']
    return freq_table(idx)

In [194]:
#example
comments_user(516548)

Tag
python r                                   2
r                                          6
r date xts                                 1
r finance quantmod performanceanalytics    1
r knitr                                    1
r optimization                             1
r plot ggplot2                             1
r sumifs                                   1
dtype: int64

## Total number of activities against tags

In [195]:
# activities include answers, accepted answers and comments
def activities(user_id):
    """
    @param user_id: int 
    return: dataframe
    """
    answers = answers_user(user_id)
    acc_ratio = accepted_ratio(user_id)
    comments = comments_user(user_id)
    questions = question_user(user_id)
    user_table = pd.DataFrame({'Answers' : answers ,'Acceptance Ratio' : acc_ratio ,'Questions':questions,'Comments': comments})
    user_table = user_table.fillna(0)
    if len(user_table) != 0 :
        user_table['Strength'] = user_table.apply(lambda 
                                                  row: (row['Answers']+1/2*row['Comments']+1/2*(row['Questions'])
                                                       )*(row['Acceptance Ratio']), axis=1)
        # As comments are less important than answers or accepted answers, adjusting the impact of comments
    user_table = user_table[user_table.Strength > user_table.Strength.quantile(0.25)] # drop lower 25% strength values 
    user_table.Strength = user_table.Strength / sum(user_table.Strength) #scaling
    return user_table

In [196]:
activities(1850609)

,Acceptance Ratio,Answers,Comments,Questions,Strength
Tag,,,,,
angular,0.67,3.0,2.0,0.0,0.025244
angular asynchronous,1.00,1.0,0.0,0.0,0.009419
angular asynchronous undefined,1.00,1.0,0.0,0.0,0.009419
angular typescript angular5,1.00,1.0,0.0,0.0,0.009419
button onclick,1.00,1.0,0.0,0.0,0.009419
css vuejs2 components,1.00,1.0,0.0,0.0,0.009419
datepicker vuejs2,1.00,1.0,4.0,0.0,0.028258
docker,1.00,1.0,0.0,0.0,0.009419
function methods onclick,1.00,1.0,0.0,0.0,0.009419
html vuejs2,1.00,3.0,4.0,0.0,0.047097
java vuejs2,1.00,1.0,0.0,0.0,0.009419
javascript,0.69,13.0,11.0,0.0,0.120237
javascript android vuejs2 addeventlistener,1.00,1.0,0.0,0.0,0.009419
javascript angular typescript observable,1.00,1.0,0.0,0.0,0.009419
javascript arrays matrix,1.00,1.0,0.0,0.0,0.009419
javascript components,1.00,1.0,0.0,0.0,0.009419
javascript eslint,1.00,1.0,0.0,0.0,0.009419
javascript html css,1.00,1.0,0.0,0.0,0.009419
javascript html wordpress,1.00,1.0,0.0,0.0,0.009419
javascript jquery,1.00,1.0,1.0,0.0,0.014129
javascript jquery ajax,1.00,1.0,1.0,0.0,0.014129
javascript jquery html,1.00,3.0,0.0,0.0,0.028258
javascript jquery json,1.00,1.0,0.0,0.0,0.009419
javascript jquery promise,1.00,1.0,0.0,0.0,0.009419
javascript magento prototypejs scriptaculous,1.00,1.0,0.0,0.0,0.009419
javascript vuejs2,1.00,12.0,12.0,0.0,0.169547
javascript vuejs2 axios,1.00,1.0,0.0,0.0,0.009419
javascript vuejs2 vuex,1.00,2.0,1.0,0.0,0.023548
jquery,1.00,2.0,1.0,0.0,0.023548
jquery ajax laravel,1.00,1.0,0.0,0.0,0.009419
jquery autocomplete,1.00,1.0,0.0,0.0,0.009419
kotlin,1.00,1.0,0.0,0.0,0.009419
moxios,1.00,1.0,0.0,0.0,0.009419
path vuejs2 leaflet,1.00,1.0,0.0,0.0,0.009419
regex lex,1.00,1.0,0.0,0.0,0.009419
vuejs2,0.74,23.0,10.0,0.0,0.195168
vuejs2 angularjs-directive autofocus,1.00,1.0,0.0,0.0,0.009419
vuejs2 lodash debounce,1.00,1.0,0.0,0.0,0.009419
vuejs2 reactive,1.00,1.0,0.0,0.0,0.009419
vuex,1.00,3.0,0.0,0.0,0.028258
webpack,1.00,1.0,0.0,0.0,0.009419
websocket vuejs2,1.00,1.0,0.0,0.0,0.009419

In [197]:
activities(9151888)

Empty DataFrame
Columns: [Acceptance Ratio, Answers, Comments, Questions, Strength]
Index: []

In [198]:
activities(2336654)

,Acceptance Ratio,Answers,Comments,Questions,Strength
arrays pandas timestamp comparison,1.00,1.0,1.0,0.0,0.037106
pandas dataframe,1.00,1.0,0.0,0.0,0.024737
pandas numpy,1.00,1.0,0.0,0.0,0.024737
python json pandas dataframe,1.00,1.0,0.0,0.0,0.024737
python pandas,0.55,31.0,7.0,0.0,0.469388
python pandas dataframe,0.40,10.0,1.0,0.0,0.103896
python pandas dataframe concatenation,1.00,1.0,1.0,0.0,0.037106
python pandas dataframe mean series,1.00,1.0,0.0,0.0,0.024737
python pandas dataframe merge,0.50,2.0,1.0,0.0,0.030921
python pandas datetime indexing,1.00,1.0,0.0,0.0,0.024737
python pandas hdf5,1.00,1.0,0.0,0.0,0.024737
python pandas indexing,0.50,2.0,0.0,0.0,0.024737
python pandas indexing sum,1.00,1.0,0.0,0.0,0.024737
python pandas numpy,1.00,2.0,3.0,1.0,0.098949
python pandas slice,1.00,1.0,0.0,0.0,0.024737