In [143]:
import re
import pandas as pd 
import numpy as np

In [488]:
Posts = pd.read_csv('../../160-Stackoverflow-Data/300000_rows/Posts.csv', \
                    dtype = {'LastEditorDisplayName': str, 'Tags': str})

In [609]:
Posts

,Id,PostTypeId,ParentID,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditorDisplayName,LastEditDate,LastActivityDate,CommunityOwnedDate,ClosedDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount
0,48870881,1,NaN,48871194.0,2018-02-19T17:05:48.193,1,50.0,<p>I have a json file with data as below:</p>\...,2804169.0,2804169.0,NaN,2018-02-19T18:42:53.487,2018-02-19T18:53:19.357,NaN,NaN,PHP search array return all values,<php><arrays>,2.0,0,NaN
1,48870882,1,NaN,48870993.0,2018-02-19T17:05:49.097,0,27.0,<p>I am currently working on a web application...,5128923.0,2598770.0,NaN,2018-02-19T17:13:33.920,2018-02-19T17:13:49.300,NaN,NaN,Creating a reactive user input tab,<c#><html><asp.net><.net><visual-studio>,2.0,0,NaN
2,48870883,2,48869547.0,NaN,2018-02-19T17:05:50.073,1,NaN,<p>Try to add hint to the query:</p>\r\n\r\n<p...,8214734.0,8214734.0,NaN,2018-02-20T10:20:21.007,2018-02-20T10:20:21.007,NaN,NaN,NaN,NaN,NaN,2,NaN
3,48870884,2,3865445.0,NaN,2018-02-19T17:05:50.273,0,NaN,In support of Sean's post:\r\n\r\n<p>The place...,2055283.0,NaN,NaN,NaN,2018-02-19T17:05:50.273,NaN,NaN,NaN,NaN,NaN,0,NaN
4,48870885,2,48870539.0,NaN,2018-02-19T17:05:51.300,0,NaN,<p>I discovered the convention (couldn't find ...,1052870.0,NaN,NaN,NaN,2018-02-19T17:05:51.300,NaN,NaN,NaN,NaN,NaN,1,NaN
5,48870886,1,NaN,NaN,2018-02-19T17:05:52.677,0,27.0,<p>So I am trying to create records in mongodb...,8353588.0,NaN,NaN,NaN,2018-02-19T17:18:09.357,NaN,NaN,Mongoose Validation Error,<node.js><mongodb><express><mongoose><mongoose...,1.0,2,NaN
6,48870888,1,NaN,48871145.0,2018-02-19T17:06:01.170,1,17.0,<p>I am trying to find out a way how add a col...,9381432.0,NaN,NaN,NaN,2018-02-19T17:21:55.740,NaN,NaN,R - Calculating annual incrementals across dif...,<r>,1.0,0,NaN
7,48870889,2,48870709.0,NaN,2018-02-19T17:06:01.910,0,NaN,"<p>Group by the user, then aggregate a list of...",3182843.0,NaN,NaN,NaN,2018-02-19T17:06:01.910,NaN,NaN,NaN,NaN,NaN,0,NaN
8,48870890,1,NaN,NaN,2018-02-19T17:06:06.810,0,19.0,<p>I need a simple and clear example on how to...,3613597.0,3613597.0,NaN,2018-02-19T17:18:00.510,2018-02-19T17:18:00.510,NaN,2018-02-19T17:09:58.357,Passing props from parent component to a neste...,<javascript><reactjs><react-native>,0.0,0,NaN
9,48870891,2,48870253.0,NaN,2018-02-19T17:06:16.113,12,NaN,<p>With combination of <code>re.findall()</cod...,3185459.0,3185459.0,NaN,2018-02-19T17:13:55.730,2018-02-19T17:13:55.730,NaN,NaN,NaN,NaN,NaN,8,NaN
10,48870892,1,NaN,NaN,2018-02-19T17:06:16.730,0,20.0,<p>I've implemented javax.mail.event.StoreList...,2634852.0,2634852.0,NaN,2018-02-20T10:24:11.707,2018-02-20T10:24:11.707,NaN,NaN,"What does it mean ""Stale mailbox lock file det...",<email><javamail><imap><dovecot>,1.0,0,NaN
11,48870893,1,NaN,NaN,2018-02-19T17:06:18.470,-1,14.0,<p>How can I build an Android browser (basical...,9356637.0,NaN,NaN,NaN,2018-02-19T17:06:18.470,NaN,NaN,How to build an Ionic Cordova based browser?,<android><ionic-framework><ionic2><android-web...,0.0,2,NaN
12,48870894,1,NaN,NaN,2018-02-19T17:06:20.017,0,10.0,"<p>According to <a href=""https://www.filestack...",7226603.0,7226603.0,NaN,2018-02-19T17:43:42.157,2018-02-19T17:43:42.157,NaN,NaN,Filestack Viewer preview for each file in a modal,<javascript><jquery><filepicker><filestack>,0.0,0,NaN
13,48870895,1,NaN,48928005.0,2018-02-19T17:06:21.133,0,28.0,<p>I'm working with Ionic 3. I change the valu...,2815015.0,2815015.0,NaN,2018-02-20T08:58:08.737,2018-02-22T12:56:05.213,NaN,NaN,Ionic 3 *ngIf doesn't update the view,<ionic3><ngif>,1.0,6,NaN
14,48870896,1,NaN,NaN,2018-02-19T17:06:26.003,1,32.0,<p>I'm trying to use a Dynamics 365 entity wit...,9381888.0,7920473.0,NaN,2018-02-22T19:14:22.117,2018-02-22T19:14:22.117,NaN,NaN,"Powerapps: An error occurred on the server, Of...",<microsoft-dynamics><powerapps>,0.0,0,NaN
15,48870897,2,48870631.0,NaN,2018-02-19T17:06:33.923,1,NaN,<p>Perhaps it's easiest to just rename the col...,1270695.0,NaN,NaN,NaN,2018-02-19T17:06:33.923,NaN,NaN,NaN,NaN,NaN,4,NaN
16,48870899,2,13830392.0,NaN,2018-02-19T17:06:40.293,0,NaN,<p>Try this in the terminal:</p>\r\n\r\n<pre><...,7962442.0,NaN,NaN,NaN,2018-02-19T17:06:40.293,NaN,NaN,NaN,NaN,NaN,0,NaN
17,48870900,2,48870828.0,NaN,2018-02-19T17:06:41.930,1,NaN,<p>What's with the ACF? Why not just </p>\r\n\...,295783.0,NaN,NaN,NaN,2018-02-19T17:06:41.930,NaN,NaN,NaN,NaN,NaN,3,NaN
18,48870902,2,48862416.0,NaN,2018-02-19T17:06:45.037,2,NaN,<p>The problem is this. You create a lambda a...,3679676.0,3679676.0,NaN,2018-02-19T17:42:45.440,2018-02-19T17:42:45.440,NaN,NaN,NaN,NaN,NaN,1,NaN
19,48870903,1,NaN,NaN,2018-02-19T17:06:45.253,-1,42.0,<p>I see a lot of people create their C# Progr...,8992226.0,2598770.0,NaN,2018-02-19T17:14:24.613,2018-02-19T17:14:24.613,NaN,NaN,How can I create a custom GUI,<c#><windows><user-interface>,0.0,4,NaN
20,48870904,2,48870709.0,NaN,2018-02-19T17:06:48.850,0,NaN,<p>Set up parameters defined by OP</p>\r\n\r\n...,2336654.0,2336654.0,NaN,2018-02-19T17:12:02.800,2018-02-19T17:12:02.800,NaN,NaN,NaN,NaN,NaN,0,NaN
21,48870905,2,48870730.0,NaN,2018-02-19T17:06:52.253,0,NaN,<pre><code>var rooms = [];\r\n\r\nvar mysql = ...,6462742.0,NaN,NaN,NaN,2018-02-19T17:06:52.253,NaN,NaN,NaN,NaN,NaN,0,NaN
22,48870906,1,NaN,NaN,2018-02-19T17:07:00.123,0,19.0,<p>Is there anyway to get the request body fro...,492015.0,NaN,NaN,NaN,2018-02-19T17:07:00.123,NaN,NaN,get request body from WebResourceRequest,<android><webresourcerequest>,0.0,0,NaN
23,48870907,2,48869493.0,NaN,2018-02-19T17:07:07.827,1,NaN,<p>You're attempting to use MySQL data-manipul...,205608.0,NaN,NaN,NaN,2018-02-19T17:07:07.827,NaN,NaN,NaN,NaN,NaN,0,NaN
24,48870908,1,NaN,48871861.0,2018-02-19T17:07:09.447,0,36.0,<p>I have to itterate over 4000 pages: after e...,9283927.0,NaN,NaN,NaN,2018-02-19T18:22:56.110,NaN,NaN,How to loop & scraping data for multiple pages...,<python><css><beautifulsoup>,1.0,0,1.0
25,48870909,1,NaN,NaN,2018-02-19T17:07:15.697,0,25.0,<p>Hey i'm getting images from html canvas and...,8922084.0,8922084.0,NaN,2018-02-19T18:10:04.880,2018-02-19T18:10:04.880,NaN,NaN,play arraybuffer on video tag,<javascript><html><arraybuffer>,0.0,2,1.0
26,48870910,1,NaN,48872749.0,2018-02-19T17:07:17.100,-1,40.0,<p>I'm using SQL Server 2014 and I'm getting i...,8413781.0,8413781.0,NaN,2018-02-20T14:43:49.050,2018-02-20T14:43:49.050,NaN,NaN,SQL Server Wildcard Search,<sql-server>,1.0,2,NaN
27,48870911,1,NaN,NaN,2018-02-19T17:07:27.420,0,23.0,<p><strong>Problem</strong></p>\r\n\r\n<p>Usin...,7832687.0,2688803.0,NaN,2018-02-21T08:58:18.023,2018-02-21T08:58:18.023,NaN,NaN,Primefaces Maven Repository SSL certificate is...,<java><maven><primefaces><primefaces-extensions>,0.0,1,NaN
28,48870912,1,NaN,NaN,2018-02-19T17:07:27.703,-2,49.0,<p>What should I learn to become an good angul...,8641931.0,2085811.0,NaN,2018-02-21T03:07:03.667,2018-02-21T03:07:03.667,NaN,2018-03-04T20:25:36.370,What things should I learn to become an angula...,<angular><web><web-applications>,1.0,1,NaN
29,48870914,1,NaN,NaN,2018-02-19T17:07:44.987,0,28.0,<p>I'm in a similar situation:</p>\r\n\r\n<pre...,1671226.0,NaN,NaN,NaN,2018-02-19T17:29:00.920,NaN,NaN,Check values from similar sub objects properties,<javascript>,3.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299969,49216759,1,NaN,NaN,2018-03-11T04:52:49.297,0,7.0,"<p>I have a issue, I am reading from a CSV fil...",7733917.0,NaN,NaN,NaN,2018-03-11T04:52:49.297,NaN,NaN,How to store elements in CSV file to Array in ...,<java>,0.0,2,NaN
299970,49216760,1,NaN,NaN,2018-03-11T04:52:55.370,0,6.0,<p>I am trying to extract all the 'id' in the ...,7386152.0,NaN,NaN,NaN,2018-03-11T04:52:55.370,NaN,NaN,Issue with parsing .html page with callbackWra...,<javascript><json><node.js>,0.0,0,NaN
299971,49216761,2,49216627.0,NaN,2018-03-11T04:53:20.053,0,NaN,<pre><code>List&lt;Integer&gt; l = new ArrayLi...,9076535.0,NaN,NaN,NaN,2018-03-11T04:53:20.053,NaN,NaN,NaN,NaN,NaN,0,NaN
299972,49216762,1,NaN,NaN,2018-03-11T04:53:23.367,0,2.0,<p>The background is supposed to be a automati...,8997869.0,NaN,NaN,NaN,2018-03-11T04:53:23.367,NaN,NaN,Why is the background flashing/flickering when...,<html><css><css-animations><slideshow><keyframe>,0.0,0,NaN
299973,49216763,1,NaN,NaN,2018-03-11T04:53:25.233,-1,3.0,<p>I created a Simple Activity which contains ...,2579739.0,NaN,NaN,NaN,2018-03-11T04:53:25.233,NaN,NaN,How to call Service from activity without inte...,<android><android-service>,0.0,0,NaN
299974,49216764,1,NaN,NaN,2018-03-11T04:53:33.360,0,3.0,<p>Im trying to use firebase push notification...,9222929.0,NaN,NaN,NaN,2018-03-11T04:53:33.360,NaN,NaN,Error on deploy of firebase push notification ...,<firebase><firebase-database><push-notification>,0.0,0,NaN
299975,49216765,1,NaN,NaN,2018-03-11T04:53:35.290,0,2.0,"<p>To begin with, I'm doing a mini project on ...",4378837.0,NaN,NaN,NaN,2018-03-11T04:53:35.290,NaN,NaN,Arduino: Function doesn't return a right value,<arduino><iot><verification><rfid><nodemcu>,0.0,0,NaN
299976,49216766,2,49216729.0,NaN,2018-03-11T04:53:35.620,-1,NaN,"<p>Im not sure if this is what you wanted, how...",1612975.0,NaN,NaN,NaN,2018-03-11T04:53:35.620,NaN,NaN,NaN,NaN,NaN,2,NaN
299977,49216767,1,NaN,NaN,2018-03-11T04:53:45.857,0,5.0,<p>I'm writing a function to hide a div and cl...,1738825.0,NaN,NaN,NaN,2018-03-11T04:53:45.857,NaN,NaN,JQuery -- What is the correct syntax for targe...,<jquery><syntax><radio-button>,0.0,0,NaN
299978,49216768,2,2392308.0,NaN,2018-03-11T04:53:48.083,0,NaN,<p>You can directly define a char type vector ...,5482439.0,NaN,NaN,NaN,2018-03-11T04:53:48.083,NaN,NaN,NaN,NaN,NaN,0,NaN
299979,49216769,2,49072807.0,NaN,2018-03-11T04:53:57.710,0,NaN,<p>Vi (and Vim) works very differently compare...,9469758.0,NaN,NaN,NaN,2018-03-11T04:53:57.710,NaN,NaN,NaN,NaN,NaN,0,NaN
299980,49216770,1,NaN,NaN,2018-03-11T04:54:05.403,0,2.0,<p>i have a form code php</p>\r\n\r\n<pre><cod...,5445735.0,NaN,NaN,NaN,2018-03-11T04:54:05.403,NaN,NaN,Undefined index in post php,<php>,0.0,0,NaN
299981,49216771,1,NaN,NaN,2018-03-11T04:54:08.993,0,2.0,<p>Hi i planning to send out the transactional...,2543494.0,NaN,NaN,NaN,2018-03-11T04:54:08.993,NaN,NaN,Send out email via SMTP by SendGrid,<node.js><email><smtp><sendgrid>,0.0,0,NaN
299982,49216772,2,18352079.0,NaN,2018-03-11T04:54:13.963,0,NaN,<p>the most closest :</p>\r\n\r\n<pre><code>Le...,2130573.0,NaN,NaN,NaN,2018-03-11T04:54:13.963,NaN,NaN,NaN,NaN,NaN,0,NaN
299983,49216773,2,49216651.0,NaN,2018-03-11T04:54:33.317,0,NaN,<p>You can't use Len with an integer. If you w...,9314680.0,NaN,NaN,NaN,2018-03-11T04:54:33.317,NaN,NaN,NaN,NaN,NaN,0,NaN
299984,49216774,2,49216741.0,NaN,2018-03-11T04:54:39.187,0,NaN,<p><strong>Try this.</strong></p>\r\n\r\n<p><d...,5238602.0,NaN,NaN,NaN,2018-03-11T04:54:39.187,NaN,NaN,NaN,NaN,NaN,0,NaN
299985,49216775,2,49216438.0,NaN,2018-03-11T04:54:43.960,0,NaN,<p>Answering to point [In context to android]\...,5504047.0,NaN,NaN,NaN,2018-03-11T04:54:43.960,NaN,NaN,NaN,NaN,NaN,0,NaN
299986,49216776,1,NaN,NaN,2018-03-11T04:54:53.343,0,2.0,<p>I trying get output of my invoked <strong>c...,8009796.0,NaN,NaN,NaN,2018-03-11T04:54:53.343,NaN,NaN,java - empty processBuilder inputStream,<java><process><processbuilder><linuxmint>,0.0,0,NaN
299987,49216777,2,49216669.0,NaN,2018-03-11T04:55:05.977,0,NaN,<p>It's actually quit easy in python with <cod...,5590100.0,NaN,NaN,NaN,2018-03-11T04:55:05.977,NaN,NaN,NaN,NaN,NaN,0,NaN
299988,49216778,2,49216590.0,NaN,2018-03-11T04:55:09.063,0,NaN,<p>Just do it yourself. There is no reason to ...,9078341.0,NaN,NaN,NaN,2018-03-11T04:55:09.063,NaN,NaN,NaN,NaN,NaN,0,NaN
299989,49216779,1,NaN,NaN,2018-03-11T04:55:10.580,0,2.0,"<p>For example, there are 2 main nodes in my d...",8624731.0,NaN,NaN,NaN,2018-03-11T04:55:10.580,NaN,NaN,Android Firebase Fetch Data Of Every User,<java><android><firebase><firebase-database><f...,0.0,0,NaN
299990,49216780,1,NaN,NaN,2018-03-11T04:55:19.100,0,2.0,"<p>If I have a table (<a href=""http://sqlfiddl...",1333999.0,NaN,NaN,NaN,2018-03-11T04:55:19.100,NaN,NaN,GROUP BY combined value of 2 columns in no spe...,<sql><postgresql>,0.0,0,NaN
299991,49216781,2,40310576.0,NaN,2018-03-11T04:55:21.227,0,NaN,<p>If you really care about performance and yo...,2680087.0,NaN,NaN,NaN,2018-03-11T04:55:21.227,NaN,NaN,NaN,NaN,NaN,0,NaN
299992,49216782,1,NaN,NaN,2018-03-11T04:55:24.197,0,2.0,"<p>I am using the webview for the app, where i...",7250856.0,NaN,NaN,NaN,2018-03-11T04:55:24.197,NaN,NaN,Android WerbVIew javascript is not loading on ...,<android><webview>,0.0,0,NaN
299993,49216783,2,41735254.0,NaN,2018-03-11T04:55:26.657,0,NaN,"<p>Go to this YouTube link: <a href=""https://w...",7889415.0,NaN,NaN,NaN,2018-03-11T04:55:26.657,NaN,NaN,NaN,NaN,NaN,0,NaN
299994,49216784,2,49214070.0,NaN,2018-03-11T04:55:32.513,0,NaN,"<p>First of all, please consider editing the q...",580552.0,NaN,NaN,NaN,2018-03-11T04:55:32.513,NaN,NaN,NaN,NaN,NaN,0,NaN
299995,49216785,2,49177575.0,NaN,2018-03-11T04:55:33.753,0,NaN,"<p>First, I touched this javascript problem.\r...",2458645.0,NaN,NaN,NaN,2018-03-11T04:55:33.753,NaN,NaN,NaN,NaN,NaN,0,NaN
299996,49216786,2,49216748.0,NaN,2018-03-11T04:55:38.597,0,NaN,"<p>Use the below code,</p>\r\n\r\n<pre><code>p...",6499555.0,NaN,NaN,NaN,2018-03-11T04:55:38.597,NaN,NaN,NaN,NaN,NaN,0,NaN
299997,49216787,1,NaN,NaN,2018-03-11T04:55:43.397,0,2.0,<p>I use iframes on most my projects. They emb...,9151888.0,NaN,NaN,NaN,2018-03-11T04:55:43.397,NaN,NaN,stop iframe from affecting load times,<javascript><html><iframe>,0.0,0,NaN
299998,49216788,2,43327020.0,NaN,2018-03-11T04:55:43.843,0,NaN,<p>The other answers didn't work for me so I i...,9104642.0,NaN,NaN,NaN,2018-03-11T04:55:43.843,NaN,NaN,NaN,NaN,NaN,0,NaN

## the number of answers against tags

In [663]:
def answers_user(user_id):
    filtered = []
    pattern = '[<>]'
    regex = re.compile(pattern, flags = re.IGNORECASE)
    answers_id = list(Posts.loc[(Posts.OwnerUserId == user_id) &  (Posts.PostTypeId == 2)]['ParentID'])

    for i in range(len(answers_id)):
        tags = Posts.loc[(Posts.Id == answers_id[i])]['Tags']
        try:
            filtered.extend(list(filter(None,regex.split(tags.iloc[0]))))
        except:
            continue
    freq_answers = pd.DataFrame({'Tag':filtered}).groupby('Tag').size()
    return freq_answers

In [664]:
#example
answers_user(476)

Tag
abstraction            1
access                 1
angular                1
api                    1
backend                1
character-encoding     2
design-patterns        1
encoding               1
ftp                    1
int                    1
interface              1
iso-8859-1             1
javascript             2
mixins                 1
multiplication         1
node.js                1
operating-system       1
oracle                 1
php                   13
php-5.3                1
php-7                  1
php-7.2                1
postgresql             1
python                 2
python-3.x             2
rest                   1
security               1
sftp                   1
syntax                 1
typeof                 1
undefined              1
unicode                1
utf-8                  1
dtype: int64

## the number of accepted answers against tags

In [657]:
def accepted_ans(user_id):

    accepted_tags = []
    pattern = '[<>]'

    regex = re.compile(pattern, flags = re.IGNORECASE)
    answers = Posts.loc[(Posts.OwnerUserId == user_id) &  (Posts.PostTypeId == 2)]

    for i in range(len(answers)):
        tags = Posts.loc[(Posts.AcceptedAnswerId == answers.Id.iloc[i])]['Tags']
        try:
            accepted_tags.extend(list(filter(None,regex.split(tags.iloc[0]))))
        except:
            continue
    freq_acanswers = pd.DataFrame({'Tag':accepted_tags}).groupby('Tag').size()
    return freq_acanswers

In [658]:
#example
accepted_ans(5734311)

Tag
angular       1
angular5      1
javascript    1
dtype: int64

## the number of comments against tags

In [453]:
Comments = pd.read_csv('../../160-Stackoverflow-Data/300000_rows/Comments.csv')

In [452]:
Comments

,Id,PostId,Score,Text,CreationDate,UserId
0,85065265,49030489,4,Possible duplicate of [Node.js - require empty...,2018-02-28T13:16:41.767,5734311.0
1,85065268,49030285,0,The problem with this is the bad structure log...,2018-02-28T13:16:45.110,2718972.0
2,85065269,49030414,0,Can you elaborate a little more on ViewModel? ...,2018-02-28T13:16:50.880,9305895.0
3,85065270,49022014,1,In `rollapply` the `width=` can be a one compo...,2018-02-28T13:16:51.247,516548.0
4,85065271,49029381,0,"Yeah, I'm testing here and it doesnt seem to b...",2018-02-28T13:16:52.050,1850609.0
5,85065272,49026068,1,Add some explanation to your answer,2018-02-28T13:16:51.907,2613552.0
6,85065273,49029230,0,yes thanks a lot man! this works just fine.,2018-02-28T13:16:55.800,8950119.0
7,85065274,49018387,0,Thanks @Lachezar Belev. I added the code abov...,2018-02-28T13:16:56.090,1026425.0
8,85065275,49027994,0,Thank you for your very clear answer :),2018-02-28T13:16:56.290,7065078.0
9,85065276,49025154,1,"*""The rest of the code can be found in our Git...",2018-02-28T13:17:00.447,418556.0
10,85065277,49030492,0,"It will return result of ""PeekNext()"" method e...",2018-02-28T13:17:00.687,3423291.0
11,85065278,49028909,0,I've tried using WebdriverWait (until presence...,2018-02-28T13:17:02.283,8047989.0
12,85065279,48994713,0,The query worked great with a tiny change to s...,2018-02-28T13:17:03.033,3970952.0
13,85065281,4698140,0,`$` is still not defined.,2018-02-28T13:17:04.057,2326753.0
14,85065282,36166258,0,"I do all this and the compile finishes, dada d...",2018-02-28T13:17:04.887,1293501.0
15,85065283,49029808,0,"@Paul Panzer oo i see, Thanks a lot",2018-02-28T13:17:06.763,4315129.0
16,85065284,49030156,1,"I want to help, but your question is Unclear. ...",2018-02-28T13:17:07.803,2943403.0
17,85065285,49029120,0,"thanks again , by defining againButton as btnA...",2018-02-28T13:17:08.737,7547488.0
18,85065286,49030361,0,`CompletableFuture` will eventuall call `encod...,2018-02-28T13:17:11.030,637853.0
19,85065288,49030196,0,The data is definitely sent if I send it once....,2018-02-28T13:17:11.857,9423691.0
20,85065289,49006315,0,You are exactly right. I was so focused on the...,2018-02-28T13:17:15.373,8500070.0
21,85065290,49030458,1,Can you make a jsfiddle.net. so that we can wo...,2018-02-28T13:17:15.853,1587049.0
22,85065291,49025274,0,There should not be any differences due to the...,2018-02-28T13:17:19.547,4124317.0
23,85065294,49027053,0,I also modified a bit so that at the end of th...,2018-02-28T13:17:24.330,9422937.0
24,85065295,49018602,0,ok. thanks for the heads up,2018-02-28T13:17:24.853,1078009.0
25,85065296,49025211,0,Possible duplicate of [RStudio on a Server: RO...,2018-02-28T13:17:28.027,397817.0
26,85065297,48950559,0,"Hi, rewriting my code and tracking its progres...",2018-02-28T13:17:29.040,9048097.0
27,85065298,49030404,0,"The binary its passed as argument, also before...",2018-02-28T13:17:29.333,9339750.0
28,85065301,49024278,1,@treeno True... It seems that Guice does dedup...,2018-02-28T13:17:31.623,1319284.0
29,85065302,49020284,0,Try creating a new Query in IDT using objects ...,2018-02-28T13:17:32.227,1621233.0
...,...,...,...,...,...,...
299969,85438898,49217486,0,didn't https://stackoverflow.com/a/49213255/58...,2018-03-11T07:01:07.677,5880706.0
299970,85438899,49217423,0,When did they start using `[END]` guess I am s...,2018-03-11T07:01:17.190,3684882.0
299971,85438900,49217490,0,"If you're adding two numbers, you need two num...",2018-03-11T07:01:20.090,920069.0
299972,85438901,49217490,0,i want a simple explanation of my code very si...,2018-03-11T07:01:26.420,5611868.0
299973,85438902,49210516,0,I don't think there is such an option...,2018-03-11T07:01:28.587,2961460.0
299974,85438903,29560115,0,"`ERROR: syntax error at or near ""namechk""` Loo...",2018-03-11T07:01:38.380,2979435.0
299975,85438904,49198138,0,@Mike Worked thanks,2018-03-11T07:02:04.537,2439701.0
299976,85438905,49208693,0,This does not provide an answer to the questio...,2018-03-11T07:02:21.040,7914637.0
299977,85438906,49217423,0,@ArtisticPhoenix The http server in version 2....,2018-03-11T07:02:21.740,1248114.0
299978,85438907,49206570,0,"Thanks, ill try all your suggestions. Don't mi...",2018-03-11T07:02:30.607,6598297.0
299979,85438908,49217501,0,"Thank you, this makes more sense to me!",2018-03-11T07:02:32.930,8281994.0
299980,85438909,37937923,0,what is self?? ?,2018-03-11T07:02:38.467,4761601.0
299981,85438910,49217461,0,@Varundroid updated my question,2018-03-11T07:02:46.593,8753942.0
299982,85438911,49217490,0,Thanks i got it.. a little bit more is expecte...,2018-03-11T07:02:47.420,5611868.0
299983,85438912,49217420,0,Is there a product table with a single row per...,2018-03-11T07:02:49.453,487813.0
299984,85438913,49131589,0,Do you have both Wifi and LAN activated by any...,2018-03-11T07:02:50.410,2830850.0
299985,85438914,49217421,0,`np.bincount` great answer man ~,2018-03-11T07:02:53.223,7964527.0
299986,85438915,14785968,0,@Auto-Droidツ I tried using NDK and it is now w...,2018-03-11T07:02:54.527,6618622.0
299987,85438916,49193138,0,Thanks a lot for your answer. I tried to use i...,2018-03-11T07:02:58.150,4595570.0
299988,85438917,49210891,0,I have abandoned that library. It was slowing ...,2018-03-11T07:03:05.337,2096740.0
299989,85438918,49210201,0,Any other ways to make my form responsive ?,2018-03-11T07:03:07.727,9200734.0
299990,85438919,47292221,0,The `docker-php-ext-configure gd` command was ...,2018-03-11T07:03:09.510,184130.0
299991,85438920,49217217,0,"In your first version, if closing A, B, C all ...",2018-03-11T07:03:13.100,4405757.0
299992,85438921,49217506,0,Change the slim to `https://code.jquery.com/jq...,2018-03-11T07:03:32.020,295783.0
299993,85438922,49195600,0,"Hi Andrii, thanks for answering. this is my code",2018-03-11T07:03:33.610,9262416.0
299994,85438923,49217501,0,Please accept the answer also.,2018-03-11T07:03:34.200,6618622.0
299995,85438924,49217506,0,You can use `https://code.jquery.com/jquery-3....,2018-03-11T07:03:36.107,1552587.0
299996,85438925,49131589,0,"@TarunLalwani : Yes, both are activated.",2018-03-11T07:03:36.157,3946482.0
299997,85438926,49217472,0,Thank you! I did not realize it would fire JS...,2018-03-11T07:03:41.093,3554309.0
299998,85438927,49217421,0,Thanks to you too @Wen (-:,2018-03-11T07:03:47.277,2336654.0

In [655]:
def comments_user(user_id):
    comments_tags = []
    pattern = '[<>]'


    regex = re.compile(pattern, flags = re.IGNORECASE)
    comments = Comments.loc[(Comments.UserId == user_id)]['PostId']

    for i in range(len(comments)):
        tags = Posts.loc[(Posts.Id == comments.iloc[i])]['Tags']
        try:
            comments_tags.extend(list(filter(None,regex.split(tags.iloc[0]))))
        except:
            continue
    freq_comments = pd.DataFrame({'Tag':comments_tags}).groupby('Tag').size()
    return freq_comments

In [660]:
#example
comments_user(476)

Tag
.htaccess                8
ajax                     3
anaconda                 1
angular                  4
angularjs                1
api                      2
arrays                   3
autobahn                 1
calculation              1
character-encoding       2
chinese-locale           1
class                    3
css                      1
curl                     1
database                14
datetime                 4
dependency-injection     2
dictionary               4
dns                      1
ecmascript-6             3
ecomexpress              2
file                     1
file-upload              2
forms                    5
function                 2
generator                2
gravity-forms-plugin     1
html                    11
html5                    7
html5-video              1
                        ..
templates                1
timedelta                3
timezone                 6
transactions             1
twisted                  1
type-conversion          1
type-hinting             1
types                    3
typescript               5
unicode                  4
uniqueidentifier         2
unset                    1
url                      2
url-redirection          1
url-rewriting            1
url-routing              1
utf-8                    1
utf8mb4                  1
validation               1
variables                5
vuex                     1
wamp-protocol            1
web-applications         1
web-crawler              1
web-scraping             1
websocket                1
wordpress                3
xml                      1
xpath                    1
xquery                   1
Length: 120, dtype: int64

## total number of activities against tags

In [786]:
def activities(user_id):
    answers = answers_user(user_id)
    acc_answers = accepted_ans(user_id)
    comments = comments_user(user_id)
    user_table = pd.DataFrame({'Answers' : answers ,'Accepted Answers' : acc_answers , 'Comments': comments})
    user_table = user_table.fillna(0)
    if len(user_table) != 0 :
        user_table['Total'] = user_table.apply(lambda row: (row['Answers'])+(row['Accepted Answers'])+(row['Comments']), axis=1)
        
    return user_table

In [798]:
#example
activities(205608)

                   Accepted Answers  Answers  Comments  Total
activerecord                    0.0      0.0       1.0    1.0
apache-poi                      0.0      1.0       0.0    1.0
c#                              0.0      0.0       1.0    1.0
database                        1.0      3.0       4.0    8.0
duplicates                      0.0      0.0       1.0    1.0
encoding                        0.0      1.0       0.0    1.0
entity-framework                0.0      0.0       1.0    1.0
excel                           0.0      0.0       1.0    1.0
excel-2016                      0.0      0.0       1.0    1.0
excel-vba                       0.0      0.0       1.0    1.0
express                         1.0      1.0       0.0    2.0
html                            0.0      1.0       0.0    1.0
html5                           0.0      1.0       0.0    1.0
import                          0.0      0.0       3.0    3.0
indexing                        0.0      1.0       0.0    1.0
inner-join                      0.0      0.0       1.0    1.0
java                            0.0      1.0       1.0    2.0
jdbc                            0.0      1.0       0.0    1.0
mysql                           5.0     11.0      12.0   28.0
mysql-workbench                 0.0      1.0       0.0    1.0
mysqli                          0.0      1.0       0.0    1.0
node.js                         1.0      1.0       1.0    3.0
pdo                             1.0      1.0       1.0    3.0
php                             1.0      4.0       1.0    6.0
phpmyadmin                      0.0      0.0       1.0    1.0
query-performance               1.0      2.0       3.0    6.0
ruby-on-rails                   0.0      0.0       1.0    1.0
ruby-on-rails-5                 0.0      0.0       1.0    1.0
sql                             1.0      3.0       2.0    6.0
sql-delete                      0.0      1.0       0.0    1.0
sql-injection                   0.0      1.0       0.0    1.0
sql-server                      1.0      1.0       0.0    2.0
ubuntu                          0.0      1.0       0.0    1.0
visual-studio                   0.0      0.0       1.0    1.0