# User Availability

In [26]:
import pandas as pd
Posts = pd.read_csv('C:/Users/seungmi/Dropbox/160-Stackoverflow-Data/train_test/raw_query/Posts.csv',\
                    dtype = {'LastEditorDisplayName': str, 'Tags': str, 'Title':str, 'ClosedDate':str})
# load data
Questions2012 = Posts.loc[Posts.PostTypeId == 1]
Answers2012 = Posts.loc[Posts.PostTypeId == 2]
Users = pd.read_csv('C:/Users/seungmi/Dropbox/160-Stackoverflow-Data/train_test/raw_query/Users.csv')

# data preprocessing
Questions2012['CreationDate'] = pd.to_datetime(Questions2012['CreationDate'], format="%Y-%m-%dT%H:%M:%S")
Answers2012['CreationDate'] = pd.to_datetime(Answers2012['CreationDate'], format="%Y-%m-%dT%H:%M:%S")
Users['CreationDate'] = pd.to_datetime(Users['CreationDate'], format="%Y-%m-%dT%H:%M:%S")


def user_avail(user_id):
    """
    :param user_id: int - userId
    :return: pd.Series - frequency of user activities
    """
    user_questions = Questions2012.loc[(Questions2012.OwnerUserId == user_id),['CreationDate']]
    user_answers = Answers2012.loc[Answers2012.OwnerUserId == user_id, ['CreationDate']]
    user_activities = user_questions.append(user_answers)
    return user_activities['CreationDate'].dt.hour.value_counts()

C:\Users\seungmi\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\seungmi\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [22]:
# example
user23_avail = user_avail(3434)
ax = user23_avail.sort_index().plot.bar(col = 'blue')
ax.set_xticklabels(labels=user23_avail.sort_index().index, rotation=0, fontsize=10)
ax.set(xlabel='Hour of the Day', ylabel='Frequency', 
        title='Active Hours for User 23')

TypeError: Empty 'DataFrame': no numeric data to plot

In [23]:
Questions2012 = Posts[Posts.PostTypeId == 1]
Questions2012.head()

,Unnamed: 0,Id,PostTypeId,ParentId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,...,LastEditorDisplayName,LastEditDate,LastActivityDate,CommunityOwnedDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate
0,0,8691225,1,NaN,9147026.0,2012-01-01T00:24:23.940,3,1086.0,<p>My program is a game that uses RMI to allow...,984325.0,...,NaN,2012-01-01T00:28:01.457,2014-12-07T08:58:58.820,NaN,Set up my server to allow remote users to conn...,java dns ip-address rmi,3.0,7,NaN,NaN
1,1,8691261,1,NaN,8691856.0,2012-01-01T00:35:53.203,1,895.0,<p>I would like a shortened name for the icon ...,1024677.0,...,NaN,NaN,2012-01-01T04:34:56.693,NaN,How do I differ the shortcut name of my app fr...,java android icons shortcut,1.0,1,NaN,NaN
2,2,8691270,1,NaN,8691334.0,2012-01-01T00:39:40.540,4,7886.0,<p>I'd love to get a demonstration of how to m...,891814.0,...,NaN,2014-04-07T00:33:25.707,2014-04-07T00:33:25.707,NaN,"using Glue on GUI, java",java swing,1.0,6,NaN,NaN
3,3,8691389,1,NaN,8691971.0,2012-01-01T01:19:02.003,0,6496.0,<p>How do I run a MySQL Query in Java?</p>\r\r...,507708.0,...,NaN,2017-04-26T14:08:56.273,2017-04-26T14:08:56.273,NaN,Run MySQL Query in Java?,java sql database,1.0,7,NaN,2012-01-01T10:12:50.700
4,4,8691436,1,NaN,8691449.0,2012-01-01T01:37:17.003,0,831.0,<p>Can someone help me turn the enhanced for l...,133466.0,...,NaN,NaN,2012-01-01T01:42:03.593,NaN,Translating an enhanced for loop into regular ...,java,2.0,1,NaN,NaN